#### Tarefa **Supervisionada** de CLASSIFICAÇÃO de Espécie de Flor IRIS, a partir de medidas (cm) de sua pétala e de sua sépala
*neste caso o dataset possui 4 variáveis de decisão (x, espessura (width) e comprimento (length)), denominadas em IA de características ou features.*

<img src='img/irisimg.png' width=80%></img>

In [ ]:
import pandas as pd
import seaborn as sb 
df = pd.read_csv('datasets/iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [4]:
df['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

Para o OneFeatureRule vimos que podemos operar com dados categóricos, então não iremos alterar a coluna Species agora. Vamos obter a faixa de variação de cada medida contínua, a fim de criarmos classes (quartis) que serão usados, tal como fizemos no exemplo dos pinguins

In [6]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [8]:
quartiles = 5

sepal_length_range = pd.qcut(df['SepalLengthCm'], quartiles, precision=1) 
sepal_length_cat = pd.qcut(df['SepalLengthCm'], quartiles, labels=False, precision=1)
df['sepal_length_range'] = sepal_length_range
print(sepal_length_range.value_counts(sort=False))
index_sepal_length_cat = sepal_length_range.value_counts(sort=False).index
df['sepal_length_cat'] = sepal_length_cat

sepal_width_range = pd.qcut(df['SepalWidthCm'], quartiles, precision=1)
sepal_width_cat = pd.qcut(df['SepalWidthCm'], quartiles, labels=False, precision=1)
df['sepal_width_range'] = sepal_width_range
print(sepal_width_range.value_counts(sort=False))
index_sepal_width_cat = sepal_width_range.value_counts(sort=False).index
df['sepal_width_cat'] = sepal_width_cat

petal_length_range = pd.qcut(df['PetalLengthCm'], quartiles, precision=1)
petal_length_cat = pd.qcut(df['PetalLengthCm'], quartiles, labels=False, precision=1)
df['petal_length_range'] = petal_length_range
print(petal_length_range.value_counts(sort=False))
index_petal_length_cat = petal_length_range.value_counts(sort=False).index
df['petal_length_cat'] = petal_length_cat

petal_width_range = pd.qcut(df['PetalWidthCm'], quartiles, precision=1)
petal_width_cat = pd.qcut(df['PetalWidthCm'], quartiles, labels=False, precision=1)
df['petal_width_range'] = petal_width_range
print(petal_width_range.value_counts(sort=False))
index_petal_width_cat = petal_width_range.value_counts(sort=False).index
df['petal_width_cat'] = petal_width_cat

SepalLengthCm
(4.2, 5.0]    32
(5.0, 5.6]    33
(5.6, 6.1]    30
(6.1, 6.5]    25
(6.5, 7.9]    30
Name: count, dtype: int64
SepalWidthCm
(1.9, 2.7]    33
(2.7, 3.0]    50
(3.0, 3.1]    12
(3.1, 3.4]    31
(3.4, 4.4]    24
Name: count, dtype: int64
PetalLengthCm
(0.9, 1.5]    37
(1.5, 3.9]    24
(3.9, 4.6]    29
(4.6, 5.3]    30
(5.3, 6.9]    30
Name: count, dtype: int64
PetalWidthCm
(0.0, 0.2]    34
(0.2, 1.2]    26
(1.2, 1.5]    38
(1.5, 1.9]    23
(1.9, 2.5]    29
Name: count, dtype: int64

In [10]:
df.tail(3)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,sepal_length_range,sepal_length_cat,sepal_width_range,sepal_width_cat,petal_length_range,petal_length_cat,petal_width_range,petal_width_cat
147,148,6.5,3.0,5.2,2.0,Iris-virginica,"(6.1, 6.5]",3,"(2.7, 3.0]",1,"(4.6, 5.3]",3,"(1.9, 2.5]",4
148,149,6.2,3.4,5.4,2.3,Iris-virginica,"(6.1, 6.5]",3,"(3.1, 3.4]",3,"(5.3, 6.9]",4,"(1.9, 2.5]",4
149,150,5.9,3.0,5.1,1.8,Iris-virginica,"(5.6, 6.1]",2,"(2.7, 3.0]",1,"(4.6, 5.3]",3,"(1.5, 1.9]",3

Este é o dataframe processado e completo, mas para o algoritmo OneFeatureRule, vamos deixar apenas as colunas numéricas com classes, pois a target é a espécie (y), que está categórica

In [12]:
features = ['sepal_length_cat', 'sepal_width_cat', 'petal_length_cat','petal_width_cat']
X = df[features]
y = df['Species']

In [13]:
from modules.OneFeatureRule import OneFeatureRule

clf = OneFeatureRule()
results = clf.fit(X, y)
print(results)
#arredondando acurácia para imprimir
print('%.2f' % results[0]['accuracy'])
print('%.2f' % results[1]['accuracy'])
print('%.2f' % results[2]['accuracy'])
print('%.2f' % results[3]['accuracy'])
print(clf)

[{'feature': 'sepal_length_cat', 'accuracy': 0.69, 'rules': {0: 'Iris-setosa', 1: 'Iris-setosa', 2: 'Iris-versicolor', 3: 'Iris-virginica', 4: 'Iris-virginica'}}, {'feature': 'sepal_width_cat', 'accuracy': 0.57, 'rules': {0: 'Iris-versicolor', 1: 'Iris-virginica', 2: 'Iris-setosa', 3: 'Iris-setosa', 4: 'Iris-setosa'}}, {'feature': 'petal_length_cat', 'accuracy': 0.85, 'rules': {0: 'Iris-setosa', 1: 'Iris-setosa', 2: 'Iris-versicolor', 3: 'Iris-virginica', 4: 'Iris-virginica'}}, {'feature': 'petal_width_cat', 'accuracy': 0.88, 'rules': {0: 'Iris-setosa', 1: 'Iris-setosa', 2: 'Iris-versicolor', 3: 'Iris-virginica', 4: 'Iris-virginica'}}]
0.69
0.57
0.85
0.88
Melhor variavel de decisão para seus dados: petal_width_cat

In [14]:
def generateRuleFile(filepath):
    #as regras são por sua vez um dicionário com keys (features categóricas) e valores (coluna target)
    rule_dict = results[clf.ideal_variable_index]['rules']

    winner_rules = []
    for k,v in rule_dict.items():
        auto_index_var = 'index_' + str(clf.ideal_variable)
        winner_rules.append('if ' + clf.ideal_variable + ' in range: ' + str(globals()[auto_index_var][k]) + ' then target == ' + v)


    for i in range(len(winner_rules)):
        print(winner_rules[i])
        with open(filepath, 'a') as f:
            f.write(winner_rules[i] + '\n')

In [15]:
generateRuleFile('rules_iris.txt')

if petal_width_cat in range: (0.0, 0.2] then target == Iris-setosa
if petal_width_cat in range: (0.2, 1.2] then target == Iris-setosa
if petal_width_cat in range: (1.2, 1.5] then target == Iris-versicolor
if petal_width_cat in range: (1.5, 1.9] then target == Iris-virginica
if petal_width_cat in range: (1.9, 2.5] then target == Iris-virginica