### Exemplo de código para iterar sobre dataframe. Vamos supor construí-lo a partir de um dicionário

In [23]:
aluno = {
  'cpf': ['025', '111', '021','342','027','149','222','999'],
  'nome': ['joao','maria','pedro','gustavo','davi','solange','ana','larissa'],
  'idade': [16, 15, 18,17,18,20,16,18],
  'area': ['humanas','humanas','biomedica','tecnologica','biomedica','tecnologica','tecnologica','humanas']
}

In [8]:
print(type(aluno)) #dicionario python

<class 'dict'>

In [2]:
import pandas as pd

In [24]:
df = pd.DataFrame(data=aluno)
print(df)

   cpf     nome  idade         area
0  025     joao     16      humanas
1  111    maria     15      humanas
2  021    pedro     18    biomedica
3  342  gustavo     17  tecnologica
4  027     davi     18    biomedica
5  149  solange     20  tecnologica
6  222      ana     16  tecnologica
7  999  larissa     18      humanas

In [44]:
#k são os indexes (0,1,2,etc.), v são os valores em cada coluna para a linha k. Os tipos são preservados type()
for k, v in df.iterrows():
    print(v)
    #print(type(v[1])) #str NOME
    #print(type(v[2])) #int IDADE

cpf              025
nome            joao
idade             16
area         humanas
age_class        pre
Name: 0, dtype: object
cpf              111
nome           maria
idade             15
area         humanas
age_class        pre
Name: 1, dtype: object
cpf                021
nome             pedro
idade               18
area         biomedica
age_class        jovem
Name: 2, dtype: object
cpf                  342
nome             gustavo
idade                 17
area         tecnologica
age_class    adolescente
Name: 3, dtype: object
cpf                027
nome              davi
idade               18
area         biomedica
age_class        jovem
Name: 4, dtype: object
cpf                  149
nome             solange
idade                 20
area         tecnologica
age_class         adulto
Name: 5, dtype: object
cpf                  222
nome                 ana
idade                 16
area         tecnologica
age_class            pre
Name: 6, dtype: object
cpf              999
nome         larissa
idade             18
area         humanas
age_class      jovem
Name: 7, dtype: object

In [41]:
age_classes = pd.cut(df['idade'], [14,16,17,19,20], labels=['pre','adolescente','jovem','adulto'])

In [42]:
df['age_class'] = age_classes

In [43]:
df

   cpf     nome  idade         area    age_class
0  025     joao     16      humanas          pre
1  111    maria     15      humanas          pre
2  021    pedro     18    biomedica        jovem
3  342  gustavo     17  tecnologica  adolescente
4  027     davi     18    biomedica        jovem
5  149  solange     20  tecnologica       adulto
6  222      ana     16  tecnologica          pre
7  999  larissa     18      humanas        jovem